/**
 * Float images found in the body text alternately right and left.
 */

/* Adjust the id or class if your theme uses another to target the node body.*/
.content .autofloat-odd,
#content .autofloat-odd {
  float: right; /* LTR */
  margin: 5px 0 0 10px; /* LTR */
}

.content .autofloat-even,
#content .autofloat-even {
  float: left; /* LTR */
  margin: 5px 5px 0 0; /* LTR */
}
